<div class="container">
  <spinner [loading]="loading"></spinner>
  <nav class="navbar navbar-default navbar-left">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
          <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a [routerLink]="['/home']" class="navbar-brand"><img src="" alt="Laravel Angular logo"></a>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav"> 
                <li><a [routerLink]="['/home']">HOME</a></li>
                <li class="active"><a [routerLink]="['/products']">PRODUCTS</a></li>
                <li><a [routerLink]="['/cart']">CART</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a [routerLink]="['/login']">Login</a></li>
            </ul>
        </div>
        </div>
    </nav>
    <nav class="navbar navbar-default navbar-fixed-bottom is-hidden-tablet">
      <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="#">SEARCH <span class="glyphicon glyphicon-search"></span></a></li>
        </ul>
      </div>
    </nav>
<div class="container">
  <div class="row">
    <div class="container col-md-3 is-hidden-mobile" id="searchpanel">

          <div class="well">
          <h3 align="center">Product Search</h3>
            <form class="form-horizontal" role="form" (submit)="searchProducts($event, search.value, startdate.value, enddate.value ,price.value)">
              <div class="form-group">
                <label for="search" class="control-label">Poduct Name or Sku</label>
                <input type="text" name="" class="form-control" id="search" #search>
              </div>
              
              <div class="form-group">
                <label for="startdate" class="control-label">Start Date</label>
                <input class="form-control" id="startdate" type="text" name="startdate1" #startdate/>
              </div>
              <div class="form-group">
                <label for="enddate" class="control-label">End Date</label>
                <input class="form-control" id="enddate" type="text" name="enddate1" #enddate/>
              </div>
              <div class="form-group">
                <label for="pricefrom" class="control-label">Min Price</label>
                <div class="input-group">
                  <div class="input-group-addon" id="basic-addon1">$</div>
                  <input type="text" class="form-control" name="price" id="price" aria-describedby="basic-addon1" #price>
                </div>
              </div>
              <p class="text-center"><button type="submit" class="btn btn-danger glyphicon glyphicon-search"></button></p>
            </form>

            <p class="label-danger" *ngIf="productCount == 0" >Nothing matching found.</p>
            <p class="label-success" *ngIf="productCount > 1" >{{productCount}} results found!!</p>
            <p class="label-info" *ngIf="productCount == 1" >{{productCount}} result found!!</p>
          </div>

    </div>
     <div class="products col-md-9" *ngIf="productCount >= 1">
      <ul>
        <li *ngFor="let item of products; let i = index;">
          <div class="row">
            <div class="card">        
              <div class="panel panel-default  panel--styled">
                <div class="panel-body">
                  <div class="col-md-12 panelTop">  
                    <div class="col-md-4">  
                      <img class="img-responsive" src="http://placehold.it/350x350" alt=""/>
                    </div>
                    <div class="col-md-8">  
                      <h2>{{item.product_name}}</h2>
                      <p>{{item.product_category}} > {{item.product_sub_category}}</p>
                      Sku - <strong>{{item.sku}} </strong>
                      <div class="attributes" [innerHTML]="showKeyValuePair(item.attributes)"></div>
                    </div>
                  </div>
                  <div class="col-md-12 panelBottom">
                    <div class="col-md-8 text-center">
                      <form  role="form" (submit)="addToCart($event, productId.value)">
                        <div class="form-group">
                          <input type="hidden" id="productId" [value] = "item.id" #productId>
                          <!-- <input type="text" maxlength="5" placeholder="Quantity" id="quantity"  #quantity> -->
                          <button type="submit" class="btn btn-lg btn-add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span>Add to Cart</button>
                        </div>  
                      </form>      
                    </div>
                    <div class="col-md-4 text-left">
                      <h5>Price <span class="itemPrice">${{item.price}}</span></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  </div>
</div>